%h1= t Album.model_name.human
%table.table.table-striped
  %tbody
    - @album.attributes.each do |key, value|
      - if key == 'id' || key.include?('digest') || key == 'created_at' || key == 'updated_at' || key == 'images'
        //skip these attributes
      -else
        %tr
          - if key == 'status'
            %td= t 'status.status'
            %td= status_mark @album.status
          -else
            %td= t "activerecord.attributes.album.#{key}"
            %td= value

- if @album.images.present?
  .input-group-addon
    %h3= "Images Collection"
    %table.table.table-striped
      - @album.images.each_with_index do |image, index|   #grab the index
        %tr
          %td= image_tag(image.thumb.url)
          %td= link_to "Delete", admin_album_image_path(@album, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" }

  .input-group-addon
    = form_for @album, url: admin_album_images_path(@album), method: :post do |f| # use customized url endpoint 
      .row
        .col-sm-2
          = f.file_field :images, multiple: true
        .col-sm-2
        = f.submit "Add More Images"


.form_actions
  .row
    .col-sm-2
      = link_to t('actions.back'), admin_albums_path, class: 'btn btn-primary btn-block'
