/%h1 Добро пожаловать в Lightman School!
%br
%br
= render("shared/carousel_images",   images:   @carousel_covers) if @carousel_covers.present?
/= render("shared/carousel", images:   @carousel_covers)  if @carousel_covers.present?
%br
/%h2.col-sm-12.text-center Учебные проекты
.container-fluid
  .row
    - @directions.each do |direction|
      .col-sm-4
        - if direction.cover.present?
          .wrapper
            .my_picture= link_to image_tag(direction.cover.view),  "#{direction.name}/index"
            .description
              .text-center.description_content= direction.title
        - else
          = link_to direction.title, "#{direction.name}/index"
  %br
  
  .row
    /%h2.col-sm-12.text-center Наши новости
    %br
    %br
    %br
    - @newsbites.each do |newsbite|
      .row.my_row
        .col-sm-3.vcenter.text-center
          - if newsbite.cover.present?
            = image_tag newsbite.cover.preview
          - else
            = newsbite.title
        .col-sm-8.vcenter.text-justify
          = raw newsbite.content
          %br
          %br
          = zt_date newsbite.published_at
      %br

