%h1 Добро пожаловать в Lightman School!

.container-fluid
  .row
    - @directions.each do |direction|
      .col-sm-4
        - if direction.cover.present?
          .wrapper
            = link_to image_tag(direction.cover.view),  "#{direction.name}/index"
            .description
              .text-center.description_content= direction.title
        - else
          = link_to direction.title, "#{direction.name}/index"
  %br
  
  .row
    .col-sm-12.text-center
      %h2 Наши новости
      %br
    - @newsbites.each do |newsbite|
      .row
        .col-sm-3.text-center
          - if newsbite.cover.present?
            = image_tag newsbite.cover.preview
          - else
            = newsbite.title
        .coll-sm-offset-1.col-sm-6
          = raw newsbite.content
          %br
          %br
          = zt_date newsbite.published_at
      %br

